<h1>Welcome to the site!</h1>
<hr>

<!-- <a href="/signup" class="btn btn-primary">Please Sign Up</a> -->
<!-- refactored with rails helpers: -->
<%= link_to "Please Sign Up", signup_path, class: "btn btn-primary" %>